---
title: First Job Chile
---
.header
	.container
		= image_tag "header/title.png"
		%span Chile
.perfil{"style"=>"background-image:url('/images/perfil/fondo.png');"}

.container.info
	%figure
		= image_tag "perfil/icon.png"
	.data.row
		.col-md-2
			.numbers 1.234
			.tag Empleados
		.col-md-2
			.numbers 1998
			.tag Fundada
		.col-md-2
			.numbers Finanzas
			.tag Industria
		.col-md-2
			.numbers Chile
			.tag Oficina Central
		.col-md-2
			.circle •
			Ver Otros Trabajos
.container.main
	.row
		.col-md-3
			.requisitos
				Requisitos
			.tipo-trabajo
				.icon 
					.sprite1-trabajo
				.label Tipo de Trabajo
			.explain
				Trabajo
			.tipo-estudios
				.icon 
					.sprite1-estudios
				.label Estudios
			.explain
				Egresado
			.explain
				Titulado
			.tipo-idiomas
				.icon 
					.sprite1-idiomas
				.label Idiomas
			.explain
				Inglés Avanzado
			.tipo-trabajo
				.icon 
					.sprite1-location
				.label País
			.explain
				Chile
		.col-md-9
			%h2 Analista en Gestión de Recursos Humanos
			.dest-cont
				.descripcion
					Descripcion
				%hr.col-md-9
			.dest
				Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.
			%h2 Cencosud
			%hr
			Tobalaba Providencia Santiago
			.dest-cont
				.descripcion
					Descripcion
				%hr.col-md-9
			.dest
				Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod.

		.col-md-12
			%a.btn.pull-right.btn-postular
				Postular
			.pull-left
				%span.pull-left Comparte a traves de 
				%span.sprite1-facebook.pull-right
.footer
	Síguenos en Redes Sociales
	%br
	.sprite1-facebook-white.icon
	.sprite1-tumblr-white.icon
	.sprite1-google-white.icon
	.sprite1-twitter-white.icon
	%hr
	.container
		.pull-left
			Powered by
			= image_tag "footer/logo.png"
		.pull-right
			Con el Apoyo de 
			= image_tag "footer/apoyo.png"


